<div class="container text-center">
  <h1 class="text-center bg-primary">Log in</h1>
  <%= form_for(:session, url: login_path) do |f| %>
    <table class="table">
      <tr>
        <td><%= f.label :email %></td>
        <td><%= f.email_field :email %></td>
      </tr>
      <tr>
        <td><%= f.label :password %></td>
        <td><%= f.password_field :password %></td>
      </tr>
    </table>
    <%= f.submit "Log in", class: "btn btn-primary" %>
  <% end %>
  <br>
  <p class="text-center">New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
