<div class="container">
  <%= link_to("<< Back to Section Show", section_path(@section), class:'btn btn-primary')%>
  <h2 class="text-center bg-info">Show Candidates</h2>
  <br>
  <table class="table">
    <tr>
      <th>Name</td>
      <th>Father's Name</td>
      <th>Admission Status</td>
      <th>Rejection Reason</td>
    </tr>
  <% @section.candidates.each do |candidate| %>
  <tr>
    <td><%= candidate.name %></td>
    <td><%= candidate.father_name %></td>
    <td><%= candidate.admission_status %></td>
    <td><%= candidate.rejection_reason %></td>
  </tr>
  <% end %>
</table>
</div>
