<%= error_messages_for(f.object) %>
<table class="table">
  <tr>
    <th><%= f.label :name, "Name" %></th>
    <td><%= f.text_field :name, class: 'form-control' %></td>
  </tr>
  <tr>
    <th><%= f.label :image, "Add passport size photo" %></th>
    <td><%= f.file_field :image %></td>
  </tr>
  <tr>
    <th><%= f.label :father_name, "Father's name" %></th>
    <td><%= f.text_field :father_name, class: 'form-control' %></td>
  </tr>
  <tr>
    <th><%= f.label :mother_name, "Mother's Name" %></th>
    <td><%= f.text_field :mother_name, class: 'form-control' %></td>
  </tr>
  <tr>
    <th><%= f.label :education, "Education" %></th>
    <td>
    <% if @section.section_name == "Kindergarten Section" %>
      <%= f.select(:education, ['Not Applicable']) %>
    <% elsif @section.section_name == "Junior Section (Grades 1 to 4)" %>
      <%= f.select(:education, ['Kindergarten', '1st', '2nd', '3rd']) %>
    <% else %>
      <%= f.select(:education, ['4th', '5th','6th','7th','8th','9th','10th','11th']) %>
    <% end %>
    </td>
  </tr>
  <tr>
    <% unless @section.section_name == "Kindergarten Section" %>
      <th><%= f.label :marksheet, "Marksheet" %></th>
      <td><%= f.file_field :marksheet %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= f.label :contact_address, "Contact Address" %></th>
    <td><%= f.text_area :contact_address, size: "40x3", class: 'form-control' %></td>
  </tr>
  <tr>
    <th><%= f.label :parent_contact_number, "Parent Contact Number" %></th>
    <td><%= f.telephone_field :parent_contact_number, class: 'form-control' %></td>
  </tr>
  <tr>
    <th><%= f.label :alternate_parent_contact_number, "Parent Alternate Contact Number" %></th>
    <td><%= f.telephone_field :alternate_parent_contact_number, class: 'form-control' %></td>
  </tr>
</table>
