<div class="container">
  <%= link_to("<<Back to menu page", access_menu_path, class:"btn btn-primary") %>
  <h2 class="text-center bg-primary">Admission Status of Candidates</h2>
  <br>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Father's Name</th>
      <th>Section Name</th>
      <th>Admission Status</th>
      <th>Rejection Reason</th>
    </tr>
  <% @candidates.each do |candidate| %>
  <tr>
    <td><%= candidate.name %></td>
    <td><%= candidate.father_name %></td>
    <td><%= candidate.section.section_name %></td>
    <td><%= candidate.admission_status %></td>
    <% if candidate.rejection_reason.present? %>
      <td><%= candidate.rejection_reason %></td>
    <% end %>
  </tr>
  <% end %>
</table>
</div>
