<div class="container">
  <%= link_to("<< Back to Candidate List", section_path(@section)) %>
  <% if @candidate.present? %>
    <h2 class="text-center bg-primary">Candidate Details</h2>
    <br>
    <table class="table text-center">
      <tr>
        <th>Candidate's Photo</th>
        <td><%= image_tag @candidate.image.url(:thumb), class: "passport-size" %></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><%= @candidate.name %></td>
      </tr>
      <tr>
        <th>Father's Name</th>
        <td><%= @candidate.father_name %></td>
      </tr>
      <tr>
        <th>Mother's Name</th>
        <td><%= @candidate.mother_name %></td>
      </tr>
      <% unless @candidate.education == "Not Applicable" %>
        <tr>
          <th>Education</th>
          <td><%= @candidate.education %></td>
        </tr>
      <% end %>
      <tr>
        <th>Contact Address</th>
        <td><%= @candidate.contact_address %></td>
      </tr>
      <tr>
        <th>Parent's Contact Number</th>
        <td><%= @candidate.parent_contact_number %></td>
      </tr>
      <% if @candidate.alternate_parent_contact_number %>
        <tr>
          <th>Parent's Contact Number</th>
          <td><%= @candidate.alternate_parent_contact_number %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <% if current_user.admin? %>
    <%= link_to("Manage Candidate's Admission", manage_section_candidate_path(@section, @candidate), class:'btn btn-primary pull-right') %>
    <%= link_to("schedule appointment",new_section_candidate_appointment_path(@section, @candidate), class:'btn btn-primary pull-left') %>
  <% end %>
</div>
