<div class="container">
  <% unless current_user.admin? %>
    <%= link_to "<<Back to profile", user_path(@user) %>
  <% end %>
  <% if @payments.size > 0 %>
    <h2 class="text-center bg-primary">Payments</h2>
    <table class="table text-center">
      <% @payments.each do |payment| %>
        <tr>
          <td><%= payment.candidate.name %></td>
          <td><%= payment.candidate.section.section_name %></td>
          <td><%= payment.payment_name %></td>
          <td><%= link_to 'Show', section_candidate_payment_path(payment.candidate.section_id,payment.candidate_id,payment), class:'btn btn-info btn-xs' %></td>
          <td><%= link_to 'Destroy', section_candidate_payment_path(payment.candidate.section_id,payment.candidate_id,payment), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-info btn-xs' %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h4 class="bg-gray">No payments present</h4>
  <% end %>
</div>
