<div class="container">
  <%= link_to("<< Back to Profile", user_path(@user)) %>
  <br>
  <% if @candidate.admission_status == "Selected" %>
    <h2 class="text-center bg-primary">Add Payment Receipt</h2>
    <%= form_for @payment, url: section_candidate_payments_path , html: { multipart: true } do |f| %>
      <%= error_messages_for(f.object) %>
      <table class="table">
        <tr>
          <th><%= f.label :payment_name, "Payment For" %></th>
          <td><%=f.text_field :payment_name , class: 'form-control' %></td>
        </tr>
        <tr>
          <th><%= f.label :payment_image, "Add Payment Receipt" %></th>
          <td><%=f.file_field :payment_image %></td>
        </tr>
      </table>
      <%= f.submit "Upload Payment Details", class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <h4 class="bg-gray">You can add payment receipts once you are selected for admission</h4>
  <% end %>

</div>
