<div class="container">
  <%= link_to "<<Back", user_payments_path, class:"btn btn-primary" %>
  <table class="table text-center">
    <tr>
      <td class="bg-primary"><%= @payment.payment_name %></td>
    </tr>
    <tr>
      <td><%= image_tag @payment.payment_image.url(:medium) %></td>
    </tr>
    <% if @payment.payment_status =="" %>
      <tr>
        <td class="bg-primary">Payment Status will be updated soon</td>
      </tr>
    <% else %>
      <tr>
        <td class="bg-primary">Payment Status : <%= @payment.payment_status %></td>
      </tr>
    <% end %>
    <tr>
      <td>
        <% if current_user.admin? %>
          <h2>Manage Payment status</h2>
          <%= form_for @payment, url: user_payment_path(@user, @payment) do |f| %>
            <table class="table">
              <%= f.label :payment_status, "Payment Status" %>
              <%= f.select(:payment_status, ['','Approved','Disapproved']) %>
            </table>
            <%= f.submit("Update Payment Status") %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
