<div class="container">
  <%= link_to "<<Back", section_candidate_payments_path(@candidate.section_id,@candidate) %>
  <table class="table text-center">
    <tr>
      <td class="text-primary bg-gray"><h3><%= @payment.payment_name %></h3></td>
    </tr>
    <tr>
      <td><%= image_tag @payment.payment_image.url(:medium) %></td>
    </tr>
    <% if @payment.payment_status == "" %>
      <tr>
        <td class="bg-primary">Payment Status will be updated soon</td>
      </tr>
    <% else %>
      <tr>
        <td class="bg-primary">Payment Status : <%= @payment.payment_status %></td>
      </tr>
    <% end %>
    <tr>
      <td>
        <% if current_user.admin? %>
          <h2 class="text-primary">Manage Payment status</h2>
          <%= form_for @payment, url: section_candidate_payment_path(@payment.candidate.section_id,@payment.candidate_id, @payment) do |f| %>
            <table class="table">
              <%= f.label :payment_status, "Payment Status" %>
              <%= f.select(:payment_status, ['','Full paid','Payment due']) %>
            </table>
            <%= f.submit("Update Payment Status") %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
