<div class="container">
  <div class="text-center">
    <h2 class="bg-info">Add admission fee structure</h2><br>
    <%= form_for @fee, url: fees_path do |f| %>
      <%= error_messages_for(f.object) %>
      <table class="table">
        <tr>
          <td>
            <%= f.label :section_id, "Section :" %>
          </td>
          <td>
            <%= f.select(:section_id) do %>
              <% @sections.each do |s| -%>
                <%= content_tag(:option, s.section_name, value: s.id) %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :fee_name, "Fee Name :" %>
          </td>
          <td>
            <%= f.text_field :fee_name %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :fee_amount, "Fee amount :" %>
          </td>
          <td>
            <%= f.text_field :fee_amount %>
          </td>
        </tr>
      </table>
      <%= f.submit "Add fee" %>
    <% end %>
  </div>
</div>
