<div class = "container">
  <% if @appointments.size > 0 %>
    <table class="table">
      <% @appointments.each do |appointment| %>
        <tr>
          <td><%= appointment.user.name %></td>
          <td><%= appointment.user.candidate.section.section_name %></td>
          <td><%= appointment.datetime.to_s(:long) %></td>
          <td><%= appointment.venue %></td>
          <td><%= link_to 'Destroy', user_appointment_path(appointment.user,appointment), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-info btn-xs' %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h4>No Appointments present</h4>
  <% end %>
</div>
