<div class = "container">
  <h2 class="text-center bg-info">Appointments</h2>
  <% if @upcoming_appointments.size > 0 %>
    <h3 class="bg-gray text-primary">Upcoming Appointments</h3>
    <table class="table">
        <tr>
          <th>Candidate Name </th>
          <th>Section</th>
          <th>Appointment Date</th>
          <th>Appointment Time</th>
          <th>Venue</th>
          <th colspan="2"></th>
        </tr>
        <% @upcoming_appointments.each do |appointment| %>
          <tr>
            <td><%= appointment.candidate.name %></td>
            <td><%= appointment.candidate.section.section_name %></td>
            <td><%= appointment.datetime.strftime("%d-%B-%Y") %></td>
            <td><%= appointment.datetime.strftime("%I:%M %p") %></td>
            <td><%= appointment.venue %></td>
            <td><%= link_to 'Destroy appointment', section_candidate_appointment_path(appointment.candidate.section_id,appointment.candidate_id,appointment), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-info btn-sm' %>
          </tr>
        <% end %>
    </table>
  <% end %>
  <% if @passed_appointments.size > 0 %>
    <h3 class="bg-gray text-primary">Passed Appointments</h3>
    <table class="table">
        <tr>
          <th>Candidate Name </th>
          <th>Section</th>
          <th>Appointment Date</th>
          <th>Appointment Time</th>
          <th>Venue</th>
          <th colspan="2"></th>
        </tr>
        <% @passed_appointments.each do |appointment| %>
          <tr>
            <td><%= link_to appointment.candidate.name, [appointment.candidate.section, appointment.candidate] %></td>
            <td><%= appointment.candidate.section.section_name %></td>
            <td><%= appointment.datetime.strftime("%d-%B-%Y") %></td>
            <td><%= appointment.datetime.strftime("%I:%M %p") %></td>
            <td><%= appointment.venue %></td>
            <% if appointment.candidate.admission_status == "Appointment Pending" %>
              <td><%= link_to "Accept or Reject Appointment", manage_section_candidate_path(appointment.candidate.section_id,appointment.candidate_id,appointment), class:'btn btn-info btn-sm' %>
            <% else %>
              <td></td>
            <% end %>
            <td><%= link_to 'Destroy appointment', section_candidate_appointment_path(appointment.candidate.section_id,appointment.candidate_id,appointment), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-info btn-sm' %>
          </tr>
        <% end %>
    </table>
  <% end %>
  <% if @upcoming_appointments.size == 0 && @passed_appointments.size == 0 %>
    <h4 class="bg-gray">No Appointments present</h4>
    <%= link_to "Manage Candidates' admission", candidates_index_path, class:"btn btn-primary" %>
  <% end %>
</div>
