<div class = "container">
  <% if @appointments.size > 0 %>
    <h2 class="text-center bg-primary">Appointments</h3>
    <table class="table">
      <% @appointments.each do |appointment| %>
        <tr>
          <td><%= appointment.candidate.name %></td>
          <td><%= appointment.candidate.section.section_name %></td>
          <td><%= appointment.datetime.to_s(:long) %></td>
          <td><%= appointment.venue %></td>
          <td><%= link_to 'Destroy', section_candidate_appointment_path(appointment.candidate.section_id,appointment.candidate_id,appointment), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-info btn-xs' %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h4 class="bg-gray">No Appointments present</h4>
  <% end %>
</div>
